/** Selector General **/

body{
	/*background: yellow;*/
	margin: 0;
}

a{
	text-decoration: none;
	color: white;
}

nav{
	background: gray;
}

/*selector de 2 nivel*/
nav ul{
		text-align: center;
		margin: 0;
		padding: 0;
}

nav ul li{
	display: inline-block;
	margin: 5px;
	padding: 5px;
}

/*Selectorde estado*/
nav ul li:hover{
	background: black;
}

/*Selector de clase*/
.Img
{
	background: url(../img/fondofigu.jpg);
	background-size: cover;
	margin: 0;
	text-align: center;
	padding: 30px;
}

.Img img
{
	display: block;
	border-radius: 100%;
	width: 200px;
	margin: 0 auto;
	border: 4px solid white;
}


.Img figcaption{
	background: black;
	display: inline-block;
	color: white;
	margin-top: 10px;
	padding: 10px;
}

.Profile{
	text-align: center;
}

.Profile .Profile-title{
	padding: 0 0 15px 0;
	color: #00DBFF;
	border-bottom: 2px dashed #00DBFF;

}

.Profile .Profile-link{
	background: orange;
	padding: 5px 10px;
	border-radius: 20px;
	margin: 0 10px;
}

.Work{
	text-align: center;
}

.Work .work-item{
	width: 300px;
	display: inline-block;
	margin: 0;
}

.Work .work-item img{
	width: 100px;
}